.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    float: left;
    height: 50px;
    display: flex;
    padding: 0 20px;
    cursor: pointer;
}

.nav-bar li:hover {
    background: #5181ff;
}

.nav-bar li span {
    margin: auto;
}

.nav-bar li:last-child {
    border-right: none;
    float: right;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}